<div data-elementor-type="archive" data-elementor-id="2127" class="elementor elementor-2127 elementor-location-archive" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-69514b66 e-flex e-con-boxed e-con e-parent" data-id="69514b66" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-6f51941f elementor-widget elementor-widget-theme-archive-title elementor-page-title elementor-widget-heading" data-id="6f51941f" data-element_type="widget" data-e-type="widget" data-widget_type="theme-archive-title.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">{{TITLE}}</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-b4a6939 blog-category-list-item blog-pagination elementor-posts--align-left elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-archive-posts" data-id="b4a6939" data-element_type="widget" data-e-type="widget" data-settings="{&quot;archive_classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:100,&quot;sizes&quot;:[]},&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;archive_classic_columns&quot;:&quot;3&quot;,&quot;archive_classic_columns_tablet&quot;:&quot;2&quot;,&quot;archive_classic_columns_mobile&quot;:&quot;1&quot;,&quot;archive_classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;archive_classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="archive-posts.archive_classic">
				<div class="elementor-widget-container">{{POSTS}}</div>
				</div>
					</div>
				</div>
				</div>