<footer data-elementor-type="footer" data-elementor-id="481" class="elementor elementor-481 elementor-location-footer" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-2b94818 common-footer-cta e-flex e-con-boxed e-con e-parent" data-id="2b94818" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-9a63cc0 e-con-full e-flex e-con e-child" data-id="9a63cc0" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1c4575e elementor-widget-tablet__width-inherit elementor-widget elementor-widget-text-editor" data-id="1c4575e" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Subscribe here to receive <span style="color: #ffea07;">RISCstar</span>
news and updates								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-fe9dea8 e-con-full e-flex e-con e-child" data-id="fe9dea8" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-98ef79d news-letter-form elementor-widget elementor-widget-shortcode" data-id="98ef79d" data-element_type="widget" data-e-type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
							<div class="elementor-shortcode">
<div class="wpcf7 no-js" id="wpcf7-f5276-o1" lang="en-US" dir="ltr" data-wpcf7-id="5276">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://formspree.io/f/xzezyply" method="post" class="wpcf7-form init" data-formspree=""><input type="hidden" name="_subject" value="riscstar.com: Newsletter signup"><input type="hidden" name="form" value="Newsletter signup"><input type="text" name="_gotcha" style="display:none" tabindex="-1" autocomplete="off">

<div class="form-container">
	<div class="row news-form">
		<p><span class="wpcf7-form-control-wrap" data-name="email-474"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email user-email" aria-required="true" aria-invalid="false" placeholder="Enter your email" value="" type="email" name="email-474"></span><br>
<input class="wpcf7-form-control wpcf7-submit has-spinner submit-button btn-gradient" type="submit" value="Subscribe">
		</p>
	</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
</div>
						</div>
				</div>
				</div>
					</div>
				</div>
				</footer>