<div data-elementor-type="wp-page" data-elementor-id="7314" class="elementor elementor-7314" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-26679f8 e-con-full hero-section-image e-flex e-con e-parent" data-id="26679f8" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-e34b01b e-con-full e-flex e-con e-child" data-id="e34b01b" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-249aa0c e-flex e-con-boxed e-con e-child" data-id="249aa0c" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-5cb3ef8 e-con-full e-flex e-con e-child" data-id="5cb3ef8" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-3b36a58 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading" data-id="3b36a58" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Guide to Power Management on Arm &amp; RISC-V</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-9e2b9a0 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="9e2b9a0" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Power management is one of the most consequential—and most misunderstood—parts of embedded Linux engineering. This white paper is a deep, practical guide to how the Linux kernel actually manages power on Arm and RISC-V platforms. Written by RISCstar Principal Engineer Daniel Thompson and drawn directly from years of hands-on kernel and BSP work.								</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-73ae296 elementor-widget elementor-widget-html" data-id="73ae296" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<iframe allowfullscreen="allowfullscreen" allow="clipboard-write" scrolling="no" class="fp-iframe" src="https://heyzine.com/flip-book/c6941b0e16.html" style="border:1px solid lightgray;width:1200px;height:800px;">
</iframe>				</div>
				</div>
		<div class="elementor-element elementor-element-d0abb59 e-con-full e-flex elementor-invisible e-con e-child" data-id="d0abb59" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-element elementor-element-7f1627a elementor-icon-list--layout-inline elementor-mobile-align-center custom-pdf-btn elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7f1627a" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
											<a href="/wp-content/uploads/2026/07/Power-Management.pdf" target="_blank" title="Download PDF">

												<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_4089_396" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M0 1.90735e-06H24V24H0V1.90735e-06Z" fill="white"></path></mask><g mask="url(#mask0_4089_396)"><path d="M11.9934 16.4478L7.59375 9.8483H9.79357V3.17552H14.1932V9.8483H16.393L11.9934 16.4478Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.7939 16.448V20.8477H3.19531V16.448" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>						</span>
										<span class="elementor-icon-list-text">Download PDF</span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
											<a href="mailto:?subject=Power%20Management%20Whitepaper&amp;body=I%20thought%20you'd%20like%20this%20whitepaper%20on%20Power%20Management%20from%20RISCstar%20Solutions.%0A%0A/wp-content/uploads/2026/07/Power-Management.pdf">

												<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M3 7C3 6.46957 3.21071 5.96086 3.58579 5.58579C3.96086 5.21071 4.46957 5 5 5H19C19.5304 5 20.0391 5.21071 20.4142 5.58579C20.7893 5.96086 21 6.46957 21 7V17C21 17.5304 20.7893 18.0391 20.4142 18.4142C20.0391 18.7893 19.5304 19 19 19H5C4.46957 19 3.96086 18.7893 3.58579 18.4142C3.21071 18.0391 3 17.5304 3 17V7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 7L12 13L21 7" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>						</span>
										<span class="elementor-icon-list-text">Share via Email</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
				</div>
					</div>
				</div>
				</div>
				</div>
				</div>