<div data-elementor-type="wp-page" data-elementor-id="6051" class="elementor elementor-6051" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-cfae64e e-con-full hero-section-image e-flex e-con e-parent" data-id="cfae64e" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-4d92347 e-con-full e-flex e-con e-child" data-id="4d92347" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-8599020 e-flex e-con-boxed e-con e-child" data-id="8599020" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-f15f307 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading" data-id="f15f307" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">RISCstar Technical <br> Training</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-eb9d573 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="eb9d573" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Product success depends on having engineers who fully understand Arm and RISC-V
hardware and operating systems that power your devices as well as the open-source
ecosystem. Industry demands are evolving quickly:								</div>
				</div>
		<div class="elementor-element elementor-element-2909555 e-con-full e-flex e-con e-child" data-id="2909555" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-cc940d6 elementor-widget__width-initial elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="cc940d6" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">New architectures (RISC-V adoption accelerating)</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Linux and Zephyr stacks growing in complexity</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-7517f1d elementor-widget__width-initial elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7517f1d" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Security + lifecycle expectations increasing</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Upstreaming and regulatory compliance becoming mandatory</span>
									</li>
						</ul>
						</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6fe27e9 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="6fe27e9" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Traditional training can’t keep up. Your team needs guidance from engineers who build
production-grade systems every day.								</div>
				</div>
					</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-dc47ba8 e-flex e-con-boxed e-con e-parent" data-id="dc47ba8" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-2dd88a3 e-con-full e-flex elementor-invisible e-con e-child" data-id="2dd88a3" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-element elementor-element-54e27f8 elementor-widget elementor-widget-heading" data-id="54e27f8" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Practical, Expert-Led Engineering Training</h3>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8b501b4 e-con-full e-flex elementor-invisible e-con e-child" data-id="8b501b4" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-element elementor-element-ed28f62 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="ed28f62" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									RISCstar help development teams master the skills required to ship secure, high performance products built on:								</div>
				</div>
				<div class="elementor-element elementor-element-5a61d76 add-border  custom-hover-effect blurred-listing elementor-widget__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="5a61d76" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_range&quot;:&quot;viewport&quot;,&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Linux Kernel &amp; Drivers</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Zephyr RTOS</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Arm and RISC-V architectures</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Trusted Firmware, OP-TEE, and security hardening</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Yocto Project / OpenEmbedded</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Virtualization and advanced performance analysis</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-4c7866c elementor-widget__width-inherit elementor-widget elementor-widget-text-editor" data-id="4c7866c" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Our courses combine conceptual clarity with hands-on labs on real hardware —
accelerating learning and product delivery.								</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-64d4261 e-flex e-con-boxed e-con e-parent" data-id="64d4261" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-ccc37c1 e-con-full e-flex elementor-invisible e-con e-child" data-id="ccc37c1" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-element elementor-element-4eafe9c elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="4eafe9c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Training Designed for Product Teams</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-5575a1a elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="5575a1a" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									We adapt every course to your technology stack, work environment, and deliverables.								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-b2f7fcc e-con-full e-flex e-con e-child" data-id="b2f7fcc" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-9eea0d5 e-con-full e-flex e-con e-child" data-id="9eea0d5" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d493e79 elementor-widget__width-inherit elementor-widget elementor-widget-heading" data-id="d493e79" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Who We Train</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-665c4ff add-border  custom-hover-effect custom-listing-bg elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="665c4ff" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_range&quot;:&quot;viewport&quot;,&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Firmware and Linux platform engineers</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Embedded application developers</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-43ed333 add-border  custom-hover-effect custom-listing-bg elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="43ed333" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_range&quot;:&quot;viewport&quot;,&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Security and SoC enablement groups</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">BSP and device driver teams</span>
									</li>
						</ul>
						</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d739f86 e-con-full e-flex elementor-invisible e-con e-child" data-id="d739f86" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
		<div class="elementor-element elementor-element-5816ba4 e-con-full e-flex e-con e-child" data-id="5816ba4" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-44be9f9 e-con-full e-flex e-con e-child" data-id="44be9f9" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-fbeba1c elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="fbeba1c" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/assessment-customization.svg" class="attachment-full size-full wp-image-6106" alt="Assessment Customization"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Assessment &amp; Customization</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-ceb7b6e e-con-full e-flex e-con e-child" data-id="ceb7b6e" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-27f54a2 elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="27f54a2" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Tailor modules to your SoC, board, and product
constraints.								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-e4006a1 e-con-full e-flex e-con e-child" data-id="e4006a1" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-e21b564 e-con-full e-flex e-con e-child" data-id="e21b564" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-b997bb7 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="b997bb7" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="48" height="48" src="/wp-content/uploads/2025/12/rapid-hardware.svg" class="attachment-full size-full wp-image-5962" alt="Rapid Hardware"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Hands-On Hardware Labs</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c870512 e-con-full e-flex e-con e-child" data-id="c870512" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-fd8cab1 elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="fd8cab1" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Practical learning using debuggers, trace tools, virtualization, and power instrumentation.								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-0582626 e-con-full e-flex e-con e-child" data-id="0582626" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-2cb29da e-con-full e-flex e-con e-child" data-id="2cb29da" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2196841 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="2196841" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/mentorship.svg" class="attachment-full size-full wp-image-6105" alt="Mentorship"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Mentorship &amp; Applied Engineering</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-58b4c0a e-con-full e-flex e-con e-child" data-id="58b4c0a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-a3d05fb elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="a3d05fb" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Optional post-course engagement to help apply knowledge to shipping features.								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-cafdf06 e-con-full e-flex e-con e-child" data-id="cafdf06" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-352c4cb e-con-full e-flex e-con e-child" data-id="352c4cb" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ee96402 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="ee96402" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/reusable.svg" class="attachment-full size-full wp-image-6104" alt="Reusable"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Reusable Assets</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8ff722a e-con-full e-flex e-con e-child" data-id="8ff722a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-0b2b70d elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="0b2b70d" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Reference materials, sample code, workflow guides for long-term value.								</div>
				</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6aa0f3e elementor-widget__width-inherit elementor-invisible elementor-widget elementor-widget-text-editor" data-id="6aa0f3e" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Your team leaves with skills they can use immediately — not theoretical knowledge that fades fast.								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-858fcf3 e-con-full e-flex elementor-invisible e-con e-child" data-id="858fcf3" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-1d7621b elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="1d7621b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Core Training Domains								</div>
				</div>
		<div class="elementor-element elementor-element-2908b15 e-con-full e-flex e-con e-child" data-id="2908b15" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-0e6e075 e-con-full e-flex e-con e-child" data-id="0e6e075" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-d20783e elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="d20783e" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/assessment-customization.svg" class="attachment-full size-full wp-image-6106" alt="Assessment Customization"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Linux Kernel Development</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-dec3500 e-con-full e-flex e-con e-child" data-id="dec3500" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-ed170dc elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="ed170dc" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Devicetree, drivers, upstreaming, profiling, real-time
constraints
								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-ad3809a e-con-full e-flex e-con e-child" data-id="ad3809a" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-c9b2b23 e-con-full e-flex e-con e-child" data-id="c9b2b23" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-40e2744 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="40e2744" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="48" height="48" src="/wp-content/uploads/2025/12/rapid-hardware.svg" class="attachment-full size-full wp-image-5962" alt="Rapid Hardware"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Zephyr RTOS</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d56344b e-con-full e-flex e-con e-child" data-id="d56344b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-981e281 elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="981e281" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Board bring-up, drivers, connectivity stacks, secure boot								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-bb585bc e-con-full e-flex e-con e-child" data-id="bb585bc" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-966e79d e-con-full e-flex e-con e-child" data-id="966e79d" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-48e2aec elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="48e2aec" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/security-firmware.svg" class="attachment-full size-full wp-image-6108" alt="Security Firmware"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Security &amp; Firmware</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-9f16ba8 e-con-full e-flex e-con e-child" data-id="9f16ba8" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4ddb953 elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="4ddb953" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Trusted Firmware-A, OP-TEE TEEs, secure manufacturing &amp; OTA								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1d84931 e-con-full e-flex e-con e-child" data-id="1d84931" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-d6730bb e-con-full e-flex e-con e-child" data-id="d6730bb" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-7c286d6 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="7c286d6" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/open-embeded.svg" class="attachment-full size-full wp-image-6109" alt="Open Embeded"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">OpenEmbedded /  Yocto Project</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-39192f2 e-con-full e-flex e-con e-child" data-id="39192f2" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4261be0 elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="4261be0" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									BSPs, build reproducibility, CI automation								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c6de977 e-con-full e-flex e-con e-child" data-id="c6de977" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-d9563c5 e-con-full e-flex e-con e-child" data-id="d9563c5" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-10cb941 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="10cb941" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="48" height="48" src="/wp-content/uploads/2026/01/additional-topics.svg" class="attachment-full size-full wp-image-6110" alt="Additional Topics"></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Additional Topics</h3></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c03ff81 e-con-full e-flex e-con e-child" data-id="c03ff81" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-a414eee elementor-widget__width-inherit custom-text-font elementor-invisible elementor-widget elementor-widget-text-editor" data-id="a414eee" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Embedded Rust, LAVA automated testing. Arm A64 and RISC-V assembly foundations								</div>
				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-5bc6363 e-flex e-con-boxed e-con e-parent" data-id="5bc6363" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-cd24548 e-con-full e-flex e-con e-child" data-id="cd24548" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-ec1a3cb e-con-full e-flex e-con e-child" data-id="ec1a3cb" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2e57a85 elementor-widget__width-auto elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="2e57a85" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Why&nbsp;RISCstar?&nbsp;</h3>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8c1e45b e-con-full e-flex e-con e-child" data-id="8c1e45b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-4b047d2 add-border  custom-hover-effect blurred-listing elementor-widget__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="4b047d2" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_range&quot;:&quot;viewport&quot;,&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Instructors are active upstream-contributing engineers</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Specialization in both Arm and RISC-V</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Deep history in open-source, servers and embedded systems</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Focused on real-world debugging and product constraints</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Accelerates your team’s time-to-product</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-bcb296c elementor-widget__width-inherit elementor-widget elementor-widget-text-editor" data-id="bcb296c" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									We bridge the gap between coursework and production engineering.								</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-8b34c6e e-con-full e-flex elementor-invisible e-con e-child" data-id="8b34c6e" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-0a6f3b1 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="0a6f3b1" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									Proven Training Success								</div>
				</div>
				<div class="elementor-element elementor-element-58666cc add-border  custom-hover-effect blurred-listing elementor-widget__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list" data-id="58666cc" data-element_type="widget" data-e-type="widget" data-settings="{&quot;motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;motion_fx_range&quot;:&quot;viewport&quot;,&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Delivered Rust in the Linux kernel training to an enterprise client — excellent  feedback across the board</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Hosted RISC-V Vector Extension workshop at RISC-V Summit North America 2025</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none"><path d="M9.51054 14.5L3.63271 18.0902L5.23081 11.3906L0 6.90983L6.86553 6.35942L9.51054 0L12.1556 6.35942L19.0211 6.90983L13.7903 11.3906L15.3884 18.0902L9.51054 14.5Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Selected by RISC-V International to develop Arm-to-RISC-V porting courseware</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-040de3b elementor-widget__width-inherit elementor-widget elementor-widget-text-editor" data-id="040de3b" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									We don’t just teach — we contribute directly to the advancing embedded ecosystem.								</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-df47673 e-flex e-con-boxed e-con e-parent" data-id="df47673" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-48bce20 e-con-full e-flex e-con e-child" data-id="48bce20" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-609249e elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="609249e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default"><span style="color: #ffea07">Empower,</span> Your Engineering Team</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-a6b7fbd elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="a6b7fbd" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<span style="font-weight: 500;">Enable Your Engineering Team for Real-World Embedded Success</span>								</div>
				</div>
				<div class="elementor-element elementor-element-ee17e64 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="ee17e64" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<span style="font-weight: 500;">Let’s build a training program that directly advances your product roadmap.</span>								</div>
				</div>
				<div class="elementor-element elementor-element-daeae5b elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="daeae5b" data-element_type="widget" data-e-type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Request a customized training plan</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M10.0659 20.02C9.87891 20.208 9.62391 20.313 9.35891 20.313C9.09391 20.313 8.83891 20.208 8.65191 20.02L3.00591 14.373C2.41991 13.787 2.41991 12.837 3.00591 12.252L3.71291 11.545C4.29891 10.959 5.24791 10.959 5.83391 11.545L9.35891 15.07L18.8839 5.54497C19.4699 4.95897 20.4199 4.95897 21.0049 5.54497L21.7119 6.25197C22.2979 6.83797 22.2979 7.78797 21.7119 8.37297L10.0659 20.02Z" fill="#FFEA07"></path></svg>						</span>
										<span class="elementor-icon-list-text">Schedule a discovery call with RISCstar</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-582e953 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-text-editor" data-id="582e953" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<span style="font-weight: 500;">Your engineers are the foundation of your success —RISCstar helps them reach their
full potential.</span>								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-4f88da5 e-con-full e-flex e-con e-child" data-id="4f88da5" data-element_type="container" data-e-type="container">
		<div class="elementor-element elementor-element-7e72035 e-con-full e-flex elementor-invisible e-con e-child" data-id="7e72035" data-element_type="container" data-e-type="container" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-173c8e4 contact-us-form elementor-widget elementor-widget-shortcode" data-id="173c8e4" data-element_type="widget" data-e-type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
							<div class="elementor-shortcode">
<div class="wpcf7 no-js" id="wpcf7-f5711-p6051-o1" lang="en-US" dir="ltr" data-wpcf7-id="5711">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="https://formspree.io/f/xzezyply" method="post" class="wpcf7-form init" data-formspree=""><input type="hidden" name="_subject" value="riscstar.com: Contact request"><input type="hidden" name="form" value="Contact request"><input type="text" name="_gotcha" style="display:none" tabindex="-1" autocomplete="off">

<div class="form-container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-field f-name">
				<p><label><span class="user-icon">Full Name<span class="mandatory-sign">*</span><span class="wpcf7-form-control-wrap" data-name="first-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required username" aria-required="true" aria-invalid="false" placeholder="Full Name" value="" type="text" name="first-name"></span></span></label>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-field mail-id">
				<p><label><span class="mail-icon">Email<span class="mandatory-sign">*</span><span class="wpcf7-form-control-wrap" data-name="email"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email user-email" aria-required="true" aria-invalid="false" placeholder="Your Email" value="" type="email" name="email"></span></span></label>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-field phone">
				<p><label><span class="phone-icon">Phone Number <span class="wpcf7-form-control-wrap" data-name="phone"><input size="40" maxlength="17" minlength="10" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel user-phone" aria-invalid="false" placeholder="Your Phone" value="" type="tel" name="phone"></span></span></label>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-field custom-message">
				<p><label><span class="msg-icon">Message <span class="wpcf7-form-control-wrap" data-name="message"><textarea cols="40" rows="4" maxlength="2000" class="wpcf7-form-control wpcf7-textarea user-message" aria-invalid="false" placeholder="How can we help?" name="message"></textarea></span></span></label>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-field send-message">
				<p><input class="wpcf7-form-control wpcf7-submit has-spinner submit-button btn-gradient" type="submit" value="Contact Us">
				</p>
			</div>
		</div>
	</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
</div>
						</div>
				</div>
				</div>
				</div>
					</div>
				</div>
				</div>